<!DOCTYPE html>
<html>
<head>
    <title>$title$ - Smelly Tofu</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Smelly Tofu: Phil Hu's blog" href="/atom.xml" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <h1><a href="$url$" id="page-title">$title$</a></h1>
        <div id="title-info">
            <time datetime="$atomdate$">$entrydate$</time>
            <span class="author">By&nbsp;<a href="/" class="author-name">Phil Xiaojun Hu</a></span>
        </div>
    </header>

    <article>
		$body$
	</article>
	
    <footer>
        <hr>
        <div id="site-title-box"><a href="/" class="site-title">smelly tofu</a></div>
        <nav>
            <ul class="footer">
                <li class="footer"><a href="/">archive</a></li>
                <li class="footer"><a href="http://cnphil.com/">about</a></li>
            </ul>
        </nav>
        <div id="copyright">
            © 2014 cnphil.com &nbsp;&nbsp; Creative Commons <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW">BY-NC-SA</a>
         </div>
    </footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49994434-1', 'phil.tw');
    ga('send', 'pageview'); 
</script>
</body>
</html>

